@import '../../styles/index.scss';

.mapbox-container {
  height: 100%;
  width: 100%;
  &--renderer {
    width: 100%;
    height: 100%;
    padding: $p-normal $p-large;
    background-color: $color-heavy-blue;
    &-screw {
      position: absolute;
    }
    &-screw:nth-of-type(1) {
      top: 0;
      right: 0;
      padding-right: $p-xx-small;
    }
    &-screw:nth-of-type(2) {
      bottom: 0;
      right: 0;
      padding-right: $p-xx-small;
    }
    &-screw:nth-of-type(3) {
      bottom: 0;
      left: 0;
      padding-left: $p-xx-small;
    }
    &-screw:nth-of-type(4) {
      top: 0;
      left: 0;
      padding-left: $p-xx-small;
    }
    .maplibregl-map {
      width: 100%;
      height: 100%;
      border: $map-border;
      border-radius: 1.5rem;
      box-shadow: $map-shadow;
    }
  }
};