/* blue theme */
$color-heavy-blue: rgba(33, 51, 122, 0.75);
$color-heavy-blue-alt: rgba(33, 51, 122, 0.95);
$color-aqua-blue: rgba(1, 230, 255, 0.95);


/* gray theme */
$color-light-gray: #efefef;
$color-heavy-gray: #716e6e;
$color-logo-gray: #424242;
$color-dark-gray: #323131;
$color-darkest-gray: #1E1E1E;
$color-mid-inactive-gray: #BEBEBE;

$color-white: #FFF;