$-webkit-font-smoothing: antialiased;
$-moz-osx-font-smoothing: grayscale;

$font-size-small: .7rem;
$font-size-smallish: .75rem;
$font-size-normal: 1rem;
$font-size-normalish: 1.25rem;
$font-size-header-large: 4rem;
$font-size-header-medium: 2.9rem;
$font-size-large: 2rem;
$font-size-medium: 1.5rem;
$font-size-button: 1.25rem;

$font-weight-normal: 300;
$font-weight-mid-heavy: 600;

$font-page-line-height: 1.1rem;
$font-form-line-height: 1.5rem;