@use '../../styles/forms';

.app-container {
  width: forms.$app-min-width;
  height: forms.$app-min-height;
  overflow: hidden;
  &--content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  &--content-body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
};