@import '../../styles/index.scss';

.sidenav {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: $nav-border;
  box-shadow: 5px 0 5px rgba(0,0,0,0.1);
  background-color: $color-heavy-blue;
  z-index: 1000;
  &--header {
    min-width: 75px;
    min-height: 30px;
    margin-bottom: $m-normal;
    margin-top: $m-xx-small;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: $font-weight-mid-heavy;
    >span {
      cursor: inherit;
    }
  }
  &--content {
    background-color: #333333f0;
    border-top: $nav-border;
    border-bottom: $nav-border;
    &-item {
      cursor: pointer;
      padding: $p-xx-small;
      padding-left: $p-x-small;
      text-transform: uppercase;
      &:hover {
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.15);
        box-shadow: .25rem .25rem 20rem rgba(95, 94, 94, .2);
        border-radius: .25rem;
      }
    }
    &-switch {
      display: flex;
      justify-content: center;
      margin-bottom: $m-small;
      padding-top: $p-x-small;
    }
    &-controls {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      >button:first-of-type {
        margin-bottom: $m-small;
      }
      &-input {
        margin-bottom: $m-x-small;
      }
    }
    &-results {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-content: center;
      align-items: center;
      margin-top: $m-small;
    }
  }
}